body{
	opacity:0;
    transition: opacity 1.5s;
	font-size: 16px;
	word-wrap: normal;
	font-family: 'Lato', sans-serif;
	background-color: rgba(255, 240, 230, 0.8);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background:  rgba(230, 230, 230, .8);
	border-radius: 5px;
	box-shadow: 10px 10px 29px -7px rgba(0,0,0,0.41);
	position: fixed;
	width: 100%
}

main{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

p,li{
	line-height: 150%;
}

header h3{
	margin: 5px 20px 5px 20px;
}

a{
	text-decoration: underline;
	text-decoration-color: transparent;
	-webkit-text-decoration-color: transparent;
 	-moz-text-decoration-color: transparent;
	transition-property: all;
  	transition: 300ms;
}
a:hover { 
	text-decoration-color: initial;
	-webkit-text-decoration-color: initial;
 	-moz-text-decoration-color: initial;

}


#about,#projects,#resume{
	text-align: center;
}

#aboutSection{
	align-items: center;
}

#aboutSection>div{
	margin-right: 20px;
	margin-left: 20px;
}

#top, #aboutSection, #projectsSection{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}


#top{
	justify-content: space-around;
}

#projectsSection{
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#projectsSection>div{
	padding-left: 20px;
	padding-right: 20px
}

#projectsSection>div>p{
	max-width: 500px;
}

#skillsList{
	columns: 2;
}

#myWebsites h3{
	word-wrap: break-word;
}

.screenshot{
	width: 500px;
}

#myWebsites img {
margin-right: 15px;
vertical-align:middle;
}

#myWebsites h3{
	margin: 10px;
}