html {
  scroll-behavior: smooth;
}

body{
	font-size: 16px;
	word-wrap: normal;
	font-family: 'Lato', sans-serif;
}

header{
    z-index: 1;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background:  #6a6f99;
	box-shadow: 10px 10px 29px -7px rgba(0,0,0,0.3);
	position: fixed;
	width: 100%;
    top: 0;
    left: 0;
}

header div{
	display: flex;
}

header a{
	color: white;
	font-size: 16px;
}
header img{
    height: 18px;
    margin-bottom: -3px;
    margin-right: 3px;
}
main{
	display: flex;
	margin-left: auto;
    width: 50%;
}

#contact{
    display: flex;
    align-items: center;

}
#selfImg{
	width: 10rem;
	margin-right: 2rem;
  border-radius: 2rem;
}
#me{
	-webkit-box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.36);
	-moz-box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.36);
	box-shadow: 4px 6px 14px 0px rgba(0,0,0,0.36);
	border-radius: 4px;
}

p,li{
	line-height: 150%;
}

header h3{
	margin: 5px 20px 5px 20px;
}


a{
	color: #6a6f99;
	text-decoration: underline;
	text-decoration-color: transparent;
	-webkit-text-decoration-color: transparent;
 	-moz-text-decoration-color: transparent;
	transition-property: all;
  	transition: 300ms;
}

a:hover{ 
 	text-decoration-color: initial;
	-webkit-text-decoration-color: initial;
 	-moz-text-decoration-color: initial;
}

header a{
    border-bottom: 2px rgb(255,255,255,0) solid;
	transition-property: all;
  	transition: 300ms;
	text-decoration: none;
}
header a:hover{
	border-bottom: 2px rgb(255,255,255,1) solid;
}

#about,#projects,#resume,.center{
	text-align: center;
}

#aboutSection>div{
	margin-right: 20px;
	margin-left: 20px;
    width: 29rem;
}

#top{
	position: absolute;
	top: 0;
}

#aboutSection{
    padding: 1rem;
    border-radius: 23px;
    border: 4px solid #6a6f99;
    left: 1rem;
	margin-top: 4rem;
    position: fixed;
   	/*width: 95%;*/
}

#projectsSection{
    flex-direction: column;
    align-items: center;
    	/*margin-right: auto;*/
	margin-left: auto;
width: fit-content;
width: -webkit-fit-content;
width: -moz-fit-content;

}
#projectsSection .project-title{
	text-align: center;
}

#projectsSection>div{
	padding-left: 20px;
	padding-right: 20px;
	    margin-top: 5rem;
}

#projectsSection>div>p,#techUsed{
	max-width: 500px;
}

#skillsList{
	columns: 2;
}

#myWebsites h3{
	word-wrap: break-word;
}

.screenshot{
	width: 500px;
}

#myWebsites img {
margin-right: 15px;
vertical-align:middle;
}

#myWebsites h3{
	margin: 10px;
}


@media only screen and (max-width: 1125px) {
  body {
  }
  main{
  	width: 90%;
  	margin:auto;
  	display: flex;
  	flex-direction: column;
  }
  #aboutSection,#projectsSection{
  	position: relative;
     max-width: none;
    margin: 4rem auto;
  }
  #projectsSection>div>p {
  	max-width: none;
  }
  #projectsSection>div{
  	    display: flex;
    flex-direction: column;
  }
  #aboutSection>div{
  	margin: auto;
    width: fit-content;
  }
  .screenshot{
  	margin: auto;
  }
  h3,#techUsed{
    max-width: none;
  	text-align: center;
  }
  #skillList{
    width: 28rem;
    margin: auto;
  }
}
@media only screen and (max-width: 650px) {
	header{
		flex-direction: column;
	    align-items: center;
	}
}

@media only screen and (max-height: 725px) and (min-width: 1126px) {
	#aboutSection{
		position: absolute;
	}
}