header{
	text-align: center;
}

main{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.program{
	word-wrap: break-word;
	border: 1px black solid;
	min-width: 300px;
	min-height: 200px;
	margin: 10px;
	padding: 5px;
	border-radius: 3px;
	box-shadow: 10px 10px 29px -7px rgba(0,0,0,0.41);
}