@media only screen and (min-width: 1620px) {
  .Charts main {
    width: 100%;
  }
  .Charts #top {
    max-width: 87rem;
    margin: auto;
    margin-top: 45px;
  }
  .Charts #bottom {
    max-width: 98rem;
    margin: auto;
    margin-top: 120px;
  }
  .Charts .right-legend {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 1620px) and (min-width: 1440px) {
  .Charts main {
    width: 100%;
  }
  .Charts #top {
    max-width: 80rem;
    margin: auto;
    margin-top: 45px;
  }
  .Charts #bottom {
    max-width: 88rem;
    margin: auto;
    margin-top: 120px;
  }
  .Charts .lower-legend {
    padding-right: 0;
    padding-left: 0;
  }
  .Charts #bottom {
    margin-top: 90px;
  }
  .Charts .right-legend {
    margin-top: 5rem;
  }
  .Charts .top-right {
    margin-left: 31px;
  }
}

@media only screen and (max-width: 1440px) and (min-width: 1100px) {
  .Charts main {
    margin: auto;
    width: 100%;
  }

  .Charts #top {
    max-width: 80rem;
    margin: auto;
    justify-content: center;
  }
  .Charts #bottom {
    margin-top: 8rem;
    align-items: flex-start !important;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 88rem;
  }
  .Charts .lower-legend {
    padding-right: 0;
    padding-left: 0;
  }
  .Charts .top-right {
    margin-left: 2rem;
  }
  .Charts .bottom-divider {
    margin-right: 0;
  }
  .Charts #intent-divider {
    margin-top: -1.3rem;
  }
  .Charts #payer-divider {
    margin-top: 3rem;
  }
  .Charts #intentOfUse-legend {
    width: 14rem;
  }
  .Charts .lower-legend {
    margin-top: 2rem;
    width: 10rem;
  }
  .Charts .right-legend {
    margin-left: 2rem;
    margin-top: 5rem;
  }
  .Charts #payer-divider {
    margin-top: 0rem;
  }
}

/* Small phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 1100px) {
  .Charts main {
    margin: auto;
    width: 100%;
  }
  .Charts #location {
    padding-top: 0;
  }
  .Charts #top,
  .Charts #bottom {
    flex-direction: column;
    margin: 0;
    align-items: center;
  }
  .Charts .top-left {
    margin-top: 2rem;
  }
  .Charts .top-right {
    flex-direction: row;
    margin-left: 0;
    margin-top: 2rem;
    /* align-items: center; */
  }
  .Charts .right-legend {
    margin-left: 0;
    margin-top: 11rem;
    margin-left: 3rem;
  }
  .Charts #devices-legend {
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  .Charts .left-chart {
    margin-top: 7rem;
  }
  .Charts .lowerChartTitle {
    margin-top: 3rem;
  }
  .Charts #intentOfUse-legend {
    margin-top: 4rem;
  }
  .Charts .lower-legend {
    margin-top: 5rem;
    padding-right: 20px;
  }
  .Charts .bottom-divider {
    padding-top: 4rem;
    align-items: initial;
  }
  .Charts #devices-legend {
    margin-top: 9rem;
  }
  .Charts #intentOfUseContainer {
    padding-left: 4.5rem;
  }
  .Charts #payerMix-title {
    margin-top: 0;
  }
  .Charts #payerMix-legend {
    margin-top: 0rem;
  }
}

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 560px) {
  .Charts main {
    margin: auto;
    width: 100%;
  }
  .Charts #location {
    padding-top: 0;
  }
  .Charts #top,
  .Charts #bottom {
    flex-direction: column;
    margin: 0;
    align-items: center;
  }
  .Charts .bottom-divider {
    flex-direction: column;
  }
  .Charts #intent-divider {
    padding-top: 0;
  }

  .Charts .top-left {
    margin-top: 2rem;
  }
  .Charts .top-right {
    flex-direction: column;
    margin-left: 0;
  }
  .Charts .right-legend {
    margin-left: auto;
    margin-right: auto;
  }
  .Charts #devices-legend {
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  .Charts .left-chart {
    margin-top: 9rem;
  }
  .Charts .lowerChartTitle {
    margin-top: 3rem;
  }
  .Charts #intentOfUse-legend {
    margin-top: 4rem;
  }
  .Charts .lower-legend {
    margin-top: 5rem;
  }
  .Charts #locations-title {
    margin-left: auto;
    margin-right: auto;
  }
  .Charts .right-legend {
    margin-top: 4rem;
  }
  .Charts #intentOfUseContainer {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
  }
  .Charts #payerMix-legend {
    margin-top: 2rem;
  }
}
